service password-encryption
hostname {{ hostname }}

username {{ username }} password {{ password }}
username {{ username }} privilege {{ privilege }}

ip cef
no ip domain lookup
ip domain name {{ domain_name }}


{% for key,value in interfaces|dictsort %}
int {{ key }}
 description {{ value.descr }}
 {% if value.encaps is defined %}
 encapsulation {{ value.encaps }}
 {% endif %}
 ip add {{ value.ip }} {{ value.mask|default('255.255.255.0') }} 
 no shut
{% endfor %}

router ospf {{ ospf_process }}
 router-id {{ ospf_router_id }}
 log-adjacency-changes
 passive-interface default
 {% for int in ospf_passive_int %}
 no passive-interface {{ int }}
 {% endfor %}
 {% for net in ospf_network %}
 network {{ net }}
 {% endfor %}
